{% for method in api['value']['methods'] %}
{% if api['value']['resources'][method.rsname]["nestlevel"] == nestlevel %}
  {{ method.name }}:
    Type: AWS::ApiGateway::Method
    DependsOn: {{ method.rsname }}
    Properties:
      AuthorizationType: "NONE"
      HttpMethod : "{{ method.type }}"
      ResourceId : !Ref {{ method.rsname }}
      RestApiId  : !Ref RestAPI{{ api['key'] }}
      OperationName: {% if 'name' in method %}"{{ method.name }}"{% else %}!Ref "AWS::NoValue"{% endif %}

{% if 'url_params' in method %}
      RequestParameters:
{% for param in method['url_params'] %}
        "method.request.querystring.{{ param }}": False
{% endfor %}
{% endif %}
      Integration:
        Type: HTTP
{% if 'vpclink' in method and method.vpclink %}
        ConnectionType: VPC_LINK
        ConnectionId: "{% if method.vpclink in vpclinks %}{{ vpclinks[method.vpclink] }}{% else %}{{ method.vpclink }}{% endif %}"
{% endif %}
        IntegrationHttpMethod: "{{ method.type }}"
        Uri: "{{ method.endpoint }}"
        PassthroughBehavior: WHEN_NO_MATCH
        IntegrationResponses:
          - StatusCode: 200
        #RequestTemplates:
        #  - application/json: "{"\"name\": \"$input.params('name')\"}"
        RequestParameters:
{% if 'request' in method and 'headers' in method['request'] and method['request']['headers'] | count > 0 %}{% for rheader in method['request']['headers'] %}
          integration.request.header.{{ rheader }}: "{{ method['request']['headers'][rheader] }}"
{% endfor %}
{% else %}
          !Ref "AWS::NoValue"
{% endif %}
{% if 'url_params' in method %}
        RequestParameters:
{% for param in method['url_params'] %}
          "integration.request.querystring.{{ param }}": "method.request.querystring.{{ param }}"
{% endfor %}
{% endif %}
      MethodResponses:
        - StatusCode: 200
          ResponseModels:
{% if 'response' in method and 'contenttype' in method['response'] %}
            "{{ method['response']['contenttype'] }}": Empty
{% else %}
            "application/json": Empty
{% endif %}
{#          #ResponseParameters:
          #  method.response.header.Content-Type: true
          #  method.response.header.Content-Length: true
#}
{% endif %}
{% endfor %}
