{% for rsname in api['value']['resources'] %}
{% if api['value']['resources'][rsname]["nestlevel"] == nestlevel %}
  {{ rsname }}:
    Type: AWS::ApiGateway::Resource
    Properties:
{% if 'RESTAPI' == api['value']['resources'][rsname]['parent'] %}
      ParentId   : !GetAtt RestAPI{{ api['key'] }}.RootResourceId
{% else %}
      ParentId   : !Ref {{ api['value']['resources'][rsname]['parent'] }}
{% endif %}
      RestApiId  : !Ref {{ 'RestAPI' + api['key'] }}
      PathPart   : "{{ api['value']['resources'][rsname]['pathpart'] }}"
{% endif %}

{% endfor %}
