---
AWSTemplateFormatVersion: "2010-09-09"
Description: "Nested stack for deploy API Gateway resources and methods (working around the braindamaged 200 resource limit)."
Parameters:
  {{ 'RestAPI' + api['key'] }}:
    Description: The restapi id that this stack belongs to
    Type: String

{% for rsname in api['value']['resources'] %}
{% if api['value']['resources'][rsname]['nestlevel'] == 0 %}
  {{ rsname }}:
    Description: Parent resource that's needed to attach children to
    Type: String

{% endif %}
{% endfor %}

Resources:
##############################################################################
#                                                                            #
# Dummy resource to keep CF happy                                            #
#                                                                            #
##############################################################################
  Dummy:
    Type: "AWS::CloudFormation::WaitConditionHandle"

##############################################################################
#                                                                            #
# API Gateway Resources                                                      #
#                                                                            #
##############################################################################
{% include "includes/resources.j2" %}

##############################################################################
#                                                                            #
# API Gateway Methods                                                        #
#                                                                            #
##############################################################################
{% include "includes/methods.j2" %}

