---
AWSTemplateFormatVersion: "2010-09-09"
Description: "Deploys API Gateway with stages, resources and methods."
Resources:
##############################################################################
#                                                                            #
# API Gateway RestApi                                                        #
#                                                                            #
##############################################################################
  RestAPI{{ api['key'] }}:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Description: "API for {{ api['key'] }}"
      Name       : "{{ api['key'] }}"
  
##############################################################################
#                                                                            #
# API Gateway Deployment                                                     #
#  (because Cloudformation + API Gateway was not thought through by AWS)     #
##############################################################################
  APIDeploymentDummy:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
{% for nestlevel in api['value']['cloudformation']['nestlevels'] %}
      - ApiNestedMethodStack{{ nestlevel }}
{% endfor %}
    Properties:
      RestApiId   : !Ref {{ 'RestAPI' + api['key'] }}
      StageName   : "Dummy"
      Description : "Dummy stage so we can craft real stages further below in a way that does not horribly fail on fire"

##############################################################################
#                                                                            #
# API Gateway Stages                                                         #
#                                                                            #
##############################################################################
{% for stage in api['value']['stages'] %}
  APIStage{{ stage['stage'] | capitalize }}:
    Type: AWS::ApiGateway::Stage
    Properties:
      StageName   : "{{ stage['stage'] }}"
      Description : {% if 'description' in stage %}"{{ stage['description'] }}"{% else %}!Ref "AWS::NoValue"{% endif %}

      RestApiId   : !Ref {{ 'RestAPI' + api['key'] }}
      DeploymentId: !Ref APIDeploymentDummy
      # DocumentationVersion: !Ref MyDocumentationVersion
      # ClientCertificateId: !Ref ClientCertificate
{% if 'variables' in stage %}
      Variables:
{% for var in stage['variables'] %}
        {{ var }}: {{ stage['variables'][var] }}
{% endfor %}
{% endif %}
{% endfor %}
##############################################################################
#                                                                            #
# API Gateway Top level Resources                                            #
#                                                                            #
##############################################################################
{% include "includes/resources.j2" %}
{# 
{% for rsname in api['value']['resources'] %}
{% if api['value']['resources'][rsname]["nestlevel"] == 0 %}
  {{ rsname }}:
    Type: AWS::ApiGateway::Resource
    Properties:
{% if 'RESTAPI' == api['value']['resources'][rsname]['parent'] %}
      ParentId   : !GetAtt RestAPI{{ api['key'] }}.RootResourceId
{% else %}
      ParentId   : !Ref {{ api['value']['resources'][rsname]['parent'] }}
{% endif %}
      RestApiId  : !Ref {{ 'RestAPI' + api['key'] }}
      PathPart   : "{{ api['value']['resources'][rsname]['pathpart'] }}"
{% endif %}
{% endfor %}
#}
  
##############################################################################
#                                                                            #
# API Gateway Methods                                                        #
#                                                                            #
##############################################################################
# Moved to nested stack:
{% for nestlevel in api['value']['cloudformation']['nestlevels'] %}
  ApiNestedMethodStack{{ nestlevel }}:
    Type: "AWS::CloudFormation::Stack"
    Properties:
      #NotificationARNs:
      #  - String
      TemplateURL: https://s3.amazonaws.com/{{ account_name }}-private/cloudformation/{{ api['key'] }}-nested-{{ nestlevel }}.yaml
      Parameters:
        {{ 'RestAPI' + api['key'] }}: !Ref {{ 'RestAPI' + api['key'] }}
{% for rsname in api['value']['resources'] %}
{% if api['value']['resources'][rsname]["nestlevel"] == 0 %}
        {{ rsname }}: !Ref {{ rsname }}
{% endif %}
{% endfor %}
      # Tags:
      # TimeoutInMinutes: Integer
{% endfor %}

Outputs:
  RestAPI:
    Value: !Ref {{ 'RestAPI' + api['key'] }}
    Description: "Rest API id"
{% for stage in api['value']['stages'] %}
  APIStage{{ loop.index }}:
    Value: !Ref   APIStage{{ stage['stage'] | capitalize }}
    Description: "Deployment stage {{ stage['stage'] | capitalize }}"
{% endfor %}

